.add-client {
  min-height: 100vh;
  max-width: 1200px;
  margin: 30px auto;
  .form-group {
    display: block;
    margin-top: 20px;
    label {
      font-size: 15px;
      font-weight: 600;

    }
    .input-content {
      width: 100%;
      display: flex;
    }
  }
}